<header class="main-header header-style-1 font-heading" style="background-image: url('../media/img/t4.jpeg');">
    <div class="header-top">
        <div class="container">
            <div class="row pt-20 pb-20">
                <div class="col-md-3 col-xs-6">
                    <a href="index.html"><img class="logo" src="../media/choach/assets/logo/logo.png" alt=""></a>
                </div>
                <div class="col-md-9 col-xs-6 text-right header-top-right ">
                    <ul class="list-inline nav-topbar d-none d-md-inline">
                        <li class=""><h6 ></h6>
                        </li>
                    </ul>

                    <button class="btn btn-radius   ml-15 font-big box-shadow" style=" font-family:Cursive; width:200px; font-size:30px; background:pink; color:#000;">Nidhi Shree</button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky" >
        <div class="container align-self-center">
            <div class="mobile_menu d-lg-none d-block"></div>
            <div class="main-nav d-none d-lg-block float-left" >
                <nav >
                    <!--Desktop menu-->
                    <ul class="main-menu d-none d-lg-inline font-big" style="font-family:Sans-serif; ">
                        <li>
                            <a href="/" style="color:#000;">  Home</a>
                        </li>
                        <li > <a href="/meet-choach" style="color:#000;">Meet Nidhi</a> </li>
                        <li  > <a href="/services" style="color:#000;">Services</a> </li>
                        <li > <a href="/blog" style="color:#000;">Blog</a> </li>

                        <li > <a href="/resources" style="color:#000;">Programs</a> </li>

                          <li > <a href="#" style="color:#000;">Products</a> </li>
                        <li > <a href="/contact" style="color:#000;">Reach Us</a> </li>


                    </ul>
                    <!--Mobile menu-->
                    <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                        <li class="menu-item-has-children">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item-has-children"><a href="/meet-choach">Meet Nidhi</a>

                        </li>
                        <li class="menu-item-has-children"><a href="/blog">Blog</a>

                        </li>
                      
                        <li class="menu-item-has-children"><a href="/resources">Resources</a>

                        </li>
                        <li class="menu-item-has-children"><a href="/chat">Let's Chat</a>

                        </li>
                        <li class="menu-item-has-children"><a href="/contact">Reach Us</a>

                        </li>

                    </ul>
                </nav>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</header>
