{% extends 'basic.html' %}

{% block body %}

    <!-- Start Main content -->
    <main class="bg-grey pb-30" style="background-image: url('../media/img/t4.jpeg');">
        <div class="container single-content" >

            <!--end single header--> <br>
            <figure class="image mb-30 m-auto text-center border-radius-10">
                <img class="border-radius-10" src="../media/img/nidhi.jpg" alt="post-title" style="height:600px;"/>
            </figure>
            <!--figure-->
            <article class="entry-wraper mb-50">
              <div class="excerpt mb-30">
                <p style="color:#000;">   Namaste My name is Nidhi,a certified life coach with a bachelors degree in medicine and surgery.</p>
              </div>
              <hr class="section-divider">
                <div class="excerpt mb-30">
                  <p style="color:#000;"> While I practised medicine,I figured mental health is the most neglected health problem. At age of 28 depression hit me.  I took a break from everything and spent day and night  searching for happiness and peace of mind. I read extensively, listened to various self help gurus and tried various meditation forms.There was a lot to practice from all theory I gathered. Lot of failed tries . It takes practice to be grateful,self loving in worst situations,learning to be in positive vibrations .</p>
                </div>

                <hr class="section-divider">
                <div class="excerpt mb-30">

                    <p style="color:#000;">Success is not the end but combination of constant effort and purpose.Today I am embodiment of compassion and purpose.For over a
                    decade ,I have been helping others to build great relationship with self,their family, life partner and children.I work with
                    proffessionals with ADHD to bring out their best self.I also help parents and kids with ADHD to manage time,staying organised
                     and teach life skills for happy and balanced life style.</p>




                    <hr class="section-divider">
                    <p style="color:#000;">NO Matter whats your gender,shape,ethnicity or your diagnosis,you are worthy of achieving your dreams .You are on earth to
                    express  your unique self and I am here to remove the fog of anything that stops you.</p>
                </div>





            </article>
        </div>
        <!--container-->
    </main>
    <!-- End Main content -->


  {% endblock %}
