{% extends 'basic.html' %}
{% block body %}
    <!-- Start Main content -->
    <main>
          <!--archive header-->
          <div class="archive-header pt-50 text-center">
              <div class="container">
                  <h2 class="font-weight-900">Programs</h2>

                  <div class="bt-1 border-color-1 mt-30 mb-50"></div>
              </div>
          </div>
          <div class="container">
              <div class="loop-list loop-list-style-1">
                  <div class="row">
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(../media/choach/assets/blog/self_care.jpeg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">Self-Care Guide</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p> Self-care can often be associated with indulgence and luxury which causes women to feel like self-care is optional or they will get around to it when they have time because they see it as just additional tasks on an already exhaustive list of things they have to do. Many women heavily identify with the relationship to the gender role expectations that they were raised seeing and were instilled in them. Roles such as mother, wife, or daughter traditionally have suggested that they put the needs of others before themselves. With this belief, women feel selfish or as if they would be taking something away from those they love to engage in self-care practices. Research has shown regular self-care reduces stress, improves immunity, increases productivity, as well as, improves mental, emotional, physical, and spiritual systems.</p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(http://demos.alithemes.com/html/stories/demo/assets/imgs/news/news-8.jpg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">Gratitude</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p>Gratitude is the quality of being thankful and having the feeling of appreciation.  Adopting an attitude of gratitude will bring about many positive changes in your life.  You will experience more happiness, better health, more connection in your relationships, and even more productivity in your life.  Having a deep inner feeling of gratitude for all the positive aspects of your life will cause your situation to look and feel different.  You’ll start to see light and hope where there was only darkness and despair.  Gratitude enhances optimism.  When we focus on the things that we are grateful for, we are able to appreciate our circumstances and situations amidst the challenges. </p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(../media/choach/assets/blog/yoga.jpeg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">Mindfulness & Meditation</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p>Meditation is one practice that is instrumental in keeping me present and connected to my self. I have been meditating almost daily for many years now and the benefits are amazing! I’m more self-aware, I’m able to manage stress better, I have better focus and the quality of my sleep has improved drastically. Connecting with nature through waking, hiking, running, and gardening are also tools I use to live mindfully. </p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(http://demos.alithemes.com/html/stories/demo/assets/imgs/news/news-12.jpg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">Self-Compassion</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p>Self-compassion involves directing sensitivity inwardly to our own experience of suffering along with a deep desire to alleviate the suffering. Self-compassion allows individuals to be supportive and comfort themselves when experiencing hurt, disappointment, or failure. Self-compassion enhances well-being primarily because it deactivates the threat system, activates the self-soothing system, helps individuals feel more connected, and reduces feeling of isolation</p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(../media/choach/assets/blog/jour.jpeg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">Journaling</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p>Journaling is not just for teenage girls writing about all of their drama. Recent studies have  found that writing in a journal can lead to better sleep, an improved immune system, more self-confidence and a higher I.Q. Journaling can help you clear your head, make important connections between thoughts, feelings, and behaviors, and even buffer or reduce the effects of mental illness!</p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                      <article class="col-md-6 mb-40 wow fadeInUp  animated">
                          <div class="post-card-1 border-radius-10 hover-up">
                              <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(http://demos.alithemes.com/html/stories/demo/assets/imgs/news/news-13.jpg)">
                                  <a class="img-link" href="single.html"></a>

                              </div>
                              <div class="post-content p-30">

                                  <div class="d-flex post-card-content">
                                      <h5 class="post-title mb-20 font-weight-900">
                                          <a href="single.html">It’s Always the Perfect Time for Self-Care</a>
                                      </h5>
                                      <div class="post-excerpt mb-25 font-small text-muted">
                                          <p> What is self-care? Self-care is the act of refueling, renewing, and nurturing ourselves and attending to our needs. Self-care refers to regular practices that one engages in to reduce stress and promotes balanced, healthy lives. Self-care is a necessity in order to.....</p>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </article>
                  </div>
              </div>

          </div>
      </main>
    <!-- End Main content -->
    <!-- Footer Start-->


    <!-- End Footer -->
  {% endblock %}
